VITE_FIREBASE_API_KEY=AIzaSyAt9acDz4XC7AieEjcFgNoCNQBhGhnY8ZY
VITE_FIREBASE_AUTH_DOMAIN=truthordare-d53f9.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=truthordare-d53f9
VITE_FIREBASE_APP_ID=1:1011331447207:web:cfd59837368aa7a5a85e82
VITE_API_BASE_URL = http://localhost:4000/api